:root {
  --line-color: rgba(0, 22, 22, 0.4);
  --def-background: #f8fffe;
  --dark-background: #e6fdfa;
  --head-background: #bed2d1;
  --default-color: #000000;
  --code-color: #ffffff;
  --code-background: #303030;
  --link-color: #4d4e53;
}

html,
body {
  min-width: 290px;
  color: var(--default-color);
  background-color: var(--def-background);
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 4px var(--line-color) solid;
  background-color: var(--dark-background);
}

header {
  color: var(--default-color);
  margin: 10px;
  text-align: center;
  padding-left: 5px;
  font-size: 1.8em;
  background-color: var(--head-background);
}

#main-doc header {
  text-align: left;
  margin: 0;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 2px var(--line-color) solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: var(--default-color);
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0 0 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: var(--code-background);
  color: var(--code-color);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}
