/** global element styling **/

body {
  background-color: #eee;
  margin: 0;
}

/** global classes styling **/

.container {
  width: 90%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 100%;
  height: 100%;
  max-width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
}

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#news > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}

#news input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#news input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#news input[type="submit"]:hover {
  background-color: orange;
  transition: background-color 1s;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin-top: 2rem;
}
.description .main-desc {
  background-color: #dfe7f5;
  font-size: 1.8rem;
  font-weight: bolder;
  padding: 1rem;
  width: 45vw;
  text-align: center;
}
.description .desc {
  background-color: #edf0fa;
  font-size: 1.3rem;
  padding: 1rem;
  width: 45vw;
}


#video-section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#video-section > iframe {
  max-width: 560px;
  width: 100%;
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
