#navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
#welcome-section{
  height: 100vh;
}
.container {
  margin-top: 6rem;
}

body {
  background-color: black;
  font-family: serif;
  font-size: 1.8em;
}

.rounded-image {
  border-radius: 25%;
}

.info {
  background-color: cornsilk;
  color: black
}

@media(max-width: 320px) {
  body {
    font-size: 1.5rem;
  }
}
