body {
  text-align: center;
  color: #333;
  margin: 0;
  font-size: 1.2rem;
}
#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
}
#title {
  text-align: center;
  background-color: #eaeaea;
}
#image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
@media(max-width: 640px) {
  body {
    width: 85vw;
  }
}
